header {
    float: left;
    width: 100%
}

.link-position {
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.small-top {
    border-bottom: 1px solid #2b2b2b;
    float: left;
    width: 100%;
    background: #2E1C97
}

    .small-top .social-icon {
        float: right;
    }

        .small-top .social-icon a {
            border-left: 1px solid #2b2b2b;
            color: #ca1b1b;
            float: left;
            padding: 6px 13px;
        }

            .small-top .social-icon a:last-child {
                border-right: 1px solid #2b2b2b;
            }

            .small-top .social-icon a:hover {
                color: #FD3A13;
                text-decoration: none;
            }

    .small-top .date-sec {
        font-size: 13px;
        font-weight: 600;
        float: left;
        margin-top: 4px;
        color: #898989
    }

.top-head {
    background: #0E0544;
    width: 100%;
    float: left;
    height: 100px;
}

    .top-head h1 {
        color: #fff;
        font-size: 36px;
        font-weight: 600;
        margin: 18px 0 0;
    }

    .top-head small {
        float: left;
        width: 100%;
        font-size: 14px;
        color: #c0c0c0;
        margin-top: 5px;
        margin-left: 5px;
    }

    .top-head .admin-bar {
        text-align: right;
        margin-top: 22px;
    }

        .top-head .admin-bar a {
            color: #fff;
            line-height: 49px;
            position: relative;
            padding: 0 7px;
        }

            .top-head .admin-bar a:hover {
                color: #ff0000
            }

            .top-head .admin-bar a i {
                margin-right: 6px;
            }

        .top-head .admin-bar .ping {
            background: #ff0000;
            border: 3px solid #141517;
            border-radius: 50%;
            height: 14px;
            position: absolute;
            right: 3px;
            top: 13px;
            width: 14px;
            z-index: 1;
        }

        .top-head .admin-bar img {
            float: right;
            height: 50px;
            width: 50px;
            margin-left: 18px;
        }

.btn-search {
    background: #FD3A13;
    border-color: #FD3A13;
    color: #fff;
    padding: 7px 10px
}

    .btn-search:hover {
        background: #ca1b1b;
        border-color: #ca1b1b
    }

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        background: #d0d0d0;
        border: medium none;
        border-radius: 3px 0 0 3px;
        float: left;
        height: 36px;
        line-height: 18px;
        margin-left: 210px;
        padding: 0 9px;
        position: absolute;
        top: -3px;
        width: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
            background: #d0d0d0;
        }
