.action-sec {
    width: 100%;
    float: left;
    background: #222;
    padding-top: 3%;
    padding-bottom: 3%;
}

.action-box {
    float: left;
    width: 100%;
    text-align: center;
}

    .action-box h2 {
        color: #fff;
        font-size: 20px;
    }
