<header></header>
<form ngNativeValidate>
    <div class="container-fluid shadow">
        <h4 class="pr-5 pl-5">Rol de Usuario</h4>
        <div class="input-group pt-3 pr-5 pl-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Descripcion del rol</span>
            </div>
            <input type="text" required class="form-control" aria-label="Rol de usuario" aria-describedby="usuario-default">
        </div>
        <div class="input-group mt-3 pr-5 pl-5 pb-4">
            <input type="submit" value="Guardar" class="btn btn-success mr-5" />
            <input type="reset" value="Limpiar" class="btn btn-danger" />
        </div>
    </div>
</form>