.componente {
    width: 25rem;
    margin: 2rem;
    flex: auto;
    align-self: flex-end;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.orden {
    width: 10rem;
}

.form {
    min-height: 20rem;
}

.save-button {
    width: 100%;
    margin: 1rem;
}