.navbar {
    background-color: #0e0544;
    border: medium none;
    float: left;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 0;
    border-color: white;
}

.navbar-brand {
    display: none;
}

.link-option {
    color: white;
}

    .link-option:hover {
        color: #0948e8;
    }

.navbar-option {
    border: 1px solid white;
}
