

.texto-componentes {    
    padding: 13% 8% 0 1%;
}

.slide-componentes {
    padding: 8% 0 0 8%;
}



/*******************************************************************************************/

@media (max-width: 575.98px) {
  .img-size{
      width: 200px;
      padding: 1rem 1rem 1rem 1rem;
  }

  .titulo {
      padding-bottom: 5rem;
      color: #3D4778; 
      font-size: 24px;
  }

  .img-sentencia{
      width: 100px;
      height: 100px;
  }

  .sentencia {
    background-image: url('/assets/PNG/sentencia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #898989;
    padding: 2rem 0 2rem 0;
  }

  .card-multimedia{
    color:#fff; 
    border-radius: 15px; 
    border: 3px solid #fff;
  }

  .header-multimedia{
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
  }

  .fondo-multimedia{
    background-color: #0BBDE3;
    padding: 1rem 2rem 1rem 2rem; 
  }

  .img-multimedia{
    width: 200px;
    height: 150px;
  }

  .texto-multimedia{
    font-size: 1.5rem;
  }

  .noticias-imagen {
    background-image: url('/assets/PNG/noticias.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #898989;
    padding: 2rem 0 2rem 0;
  }

  .img-noticia{
    width: 275px;
    height: 200px;
    margin-left: 2rem;
  }

  .texto-noticia{
    padding: 0 1rem 0 1rem;
  }

  .card-size {
    height: 28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.1rem;
    color: #656668;
  }

  :host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: center;
    padding-top: 1rem;
  }
}

/*******************************************************************************************/

@media (min-width: 768px) {
  .img-size{
      width: 200px;
      padding: 1rem 1rem 1rem 1rem;
  }

  .titulo {
    color: #3D4778; 
    font-size: 30px;
  }

  .texto-sentencia{
    font-size: 14px; 
    color: #000;
  }

  .sentencia {
    background-image: url('/assets/PNG/sentencia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #898989;
    padding: 2rem 0.5rem 2rem 0.5rem;
  }

  .card-multimedia{
    color:#fff; 
    border-radius: 15px; 
    border: 3px solid #fff;
  }

  .header-multimedia{
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .fondo-multimedia{
    background-color: #0BBDE3;
    padding: 1rem 1rem 1rem 1rem; 
  }

  .img-multimedia{
    width: 200px;
    height: 130px;
  }

  .texto-multimedia{
    font-size: 1.5rem;
  }

  .noticias-imagen {
    background-image: url('/assets/PNG/noticias.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #898989;
    padding: 1rem 0 1rem 0;
  }

  .img-noticia{
    width: 180px;
    height: 130px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .texto-noticia{
    padding: 0 1rem 0 1rem;
  }

  .card-size {
    height: 28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.1rem;
    color: #656668;
  }

  :host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: center;
    padding-top: 1rem;
  }

  .icono-mas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2rem;
    padding-top: 0;
  }

  .titulo-mapa{
    color: #071353; 
    font-size: 2rem;
  }

  .texto-mapa{
    color: #071353;
  }

  .frame-mapa{
    border: #071353 solid 4px;
  }
}

/*******************************************************************************************/

@media (min-width: 992px) {
  .titulo {
    color: #3D4778; 
    font-size: 36px;
  }

  .texto-sentencia{
    font-size: 18px; 
    color: #000;
    margin: 0 2.5rem 0 -0.5rem;
  }

  .img-sentencia{
    width: 145px;
    height: 140px;
  }

  .sentencia {
    background-image: url('/assets/PNG/sentencia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #898989;
    padding: 2rem 1.5rem 2rem 4rem;
  }

  .card-multimedia{
    color:#fff; 
    border-radius: 15px; 
    border: 3px solid #fff;
  }

  .header-multimedia{
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .fondo-multimedia{
    background-color: #0BBDE3;
    padding: 1rem 3rem 1rem 3rem; 
  }

  .img-multimedia{
    width: 300px;
    height: 200px;
  }

  .texto-multimedia{
    font-size: 1.7rem;
  }

  .noticias-imagen {
    background-image: url('/assets/PNG/noticias.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #898989;
    padding: 1rem 2rem 1rem 2rem;
  }

  .img-noticia{
    width: 225px;
    height: 150px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .texto-noticia{
    padding: 0 1rem 0 1rem;
  }

  .card-size {
    height: 28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.1rem;
    color: #656668;
  }

  :host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: center;
    padding-top: 1rem;
  }

  .icono-mas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2rem;
    padding-top: 0;
    max-width: 30px;
    max-height: 30px;
  }

  .titulo-mapa{
    color: #071353; 
    font-size: 2.5rem;
  }

  .texto-mapa{
    color: #071353;
  }

  .frame-mapa{
    border: #071353 solid 0.5rem;
  }
}

@media (min-width: 1200px) {
    .img-size{
        width: 250px;
        padding: 1rem 1rem 1rem 1rem;
    }

    .titulo {
      color: #3D4778; 
      font-size: 36px;
    }
  
    .texto-sentencia{
      font-size: 18px; 
      color: #000;
      margin: 0 2.5rem 0 -0.5rem;
    }
  
    .img-sentencia{
      width: 145px;
      height: 140px;
    }
  
    .sentencia {
      background-image: url('/assets/PNG/sentencia.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      color: #898989;
      padding: 2rem 1.5rem 2rem 4rem;
    }
  
    .card-multimedia{
      color:#fff; 
      border-radius: 15px; 
      border: 3px solid #fff;
    }
  
    .header-multimedia{
      border-top-left-radius: 15px; 
      border-top-right-radius: 15px;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  
    .fondo-multimedia{
      background-color: #0BBDE3;
      padding: 1rem 3rem 1rem 3rem; 
    }
  
    .img-multimedia{
      width: 300px;
      height: 200px;
    }
  
    .texto-multimedia{
      font-size: 1.7rem;
    }
  
    .noticias-imagen {
      background-image: url('/assets/PNG/noticias.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      color: #898989;
      padding: 1rem 2rem 1rem 2rem;
    }
  
    .img-noticia{
      width: 225px;
      height: 150px;
      margin-left: 2rem;
      margin-top: 1rem;
    }
  
    .texto-noticia{
      padding: 0 1rem 0 1rem;
    }
  
    .card-size {
      height: 28rem;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 0.1rem;
      color: #656668;
    }
  
    :host ::ng-deep.mat-paginator .mat-paginator-container{
      justify-content: center;
      padding-top: 1rem;
    }
  
    .icono-mas {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 2rem;
      padding-top: 0;
      max-width: 30px;
      max-height: 30px;
    }
  
    .titulo-mapa{
      color: #071353; 
      font-size: 2.5rem;
    }
  
    .texto-mapa{
      color: #071353;
    }
  
    .frame-mapa{
      border: #071353 solid 0.5rem;
    }
}

@media (min-width: 1920px) {
  .img-size{
      width: 250px;
      padding: 1rem 1rem 1rem 1rem;
  }

  .titulo {
    color: #3D4778; 
    font-size: 36px;
  }

  .texto-sentencia{
    font-size: 18px; 
    color: #000;
    margin: 0 2.5rem 0 -0.5rem;
  }

  .img-sentencia{
    width: 145px;
    height: 140px;
  }

  .sentencia {
    background-image: url('/assets/PNG/sentencia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #898989;
    padding: 2rem 1.5rem 2rem 4rem;
  }

  .card-multimedia{
    color:#fff; 
    border-radius: 15px; 
    border: 3px solid #fff;
  }

  .header-multimedia{
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .fondo-multimedia{
    background-color: #0BBDE3;
    padding: 1rem 7rem 1rem 7rem; 
  }

  .img-multimedia{
    width: 350px;
    height: 250px;
  }

  .texto-multimedia{
    font-size: 1.7rem;
  }

  .noticias-imagen {
    background-image: url('/assets/PNG/noticias.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #898989;
    padding: 1rem 2rem 1rem 2rem;
    height: 60rem;
  }

  .img-noticia{
    width: 375px;
    height: 250px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .texto-noticia{
    padding: 0 1rem 0 1rem;
  }

  .card-size {
    height: 38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.1rem;
    color: #656668;
  }

  :host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: center;
    padding-top: 1rem;
  }

  .icono-mas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2rem;
    padding-top: 0;
    max-width: 30px;
    max-height: 30px;
  }

  .titulo-mapa{
    color: #071353; 
    font-size: 2.5rem;
  }

  .texto-mapa{
    color: #071353;
  }

  .frame-mapa{
    border: #071353 solid 0.5rem;
  }
}
